.u-section-1 {
  background-image: url("images/1.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 96px 20px 0 713px;
}

.u-section-1 .u-text-2 {
  margin: 17px 669px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 16px;
    margin-left: 533px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 469px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 12px;
    margin-left: 313px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 249px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
    margin-left: 133px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 532px;
}

.u-section-2 .u-text-1 {
  margin: 32px 360px 0 382px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 93px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 64px auto 60px;
  padding: 10px 291px 10px 290px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 260px;
    margin-left: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 150px;
    margin-left: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 60px;
    margin-left: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 114px;
  }
}